<ion-view title="Build" id="page3">
  <ion-content padding="true" class="has-header">
    <h1 id="build-heading3" style="color:#000000;text-align:center;">Faça o seu</h1>
    <div id="build-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Teste aqui suas
        <strong>especificações</strong>
      </p>
    </div>
    <form id="build-form6" class="list">
      <label class="item item-input" id="build-input7">
        <span class="input-label">Tamanho</span>
        <input type="text" placeholder="Quantidade de litros">
      </label>
    </form>
    <a ui-sref="menu.aquRio" id="build-button6" class="button button-positive  button-block">Construa</a>
  </ion-content>
</ion-view>