<ion-view title="Test" id="page4">
  <ion-content padding="true" class="has-header">
    <h1 id="test-heading1" style="color:#000000;text-align:center;">Compare</h1>
    <div id="test-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Para ver se podem ser bons
        <strong>amigos</strong>
      </p>
    </div>
    <form id="test-form4" class="list">
      <label class="item item-select" id="test-select6">
        <span class="input-label">Peixe 1</span>
        <select>
          <option>Palhaço</option>
          <option>Anjo Imperado</option>
          <option>Leão</option>
          <option>Cirurgião-paleta</option>
          <option>Yellow Tang</option>
          <option>Cirurgião</option>
          <option></option>
        </select>
      </label>
      <h3 id="test-heading2" style="color:#000000;text-align:center;">X</h3>
      <label class="item item-select" id="test-select3">
        <span class="input-label">Peixe 2</span>
        <select>
          <option>Palhaço</option>
          <option>Anjo Imperado</option>
          <option>Leão</option>
          <option>Cirurgião-paleta</option>
          <option>Yellow Tang</option>
          <option>Cirurgião</option>
          <option></option>
        </select>
      </label>
    </form>
    <button id="test-button4" class="button button-positive  button-block">Relacionar</button>
  </ion-content>
</ion-view>